<!doctype html>
<HTML>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>Project IoT</title>


</head>

<body>
  <header>
    <div class="px-3 py-2 text-bg-dark border-bottom" style="background-color: black;">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor "
              class="bi bi-archive-fill" viewBox="0 0 16 16">
              <path
                d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z" />

            </svg>&nbsp Smart Campus </a>
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li> <a href="/" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-house-door" viewBox="0 0 16 16">
                  <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                </svg>
                Home
              </a> </li>
            <li> <a href="/Log/" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-file-post-fill" viewBox="0 0 16 16">
                  <path
                    d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M4.5 3h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1m0 2h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5" />
                </svg>
                Log
              </a> </li>
            <li> <a href="/dashboard/" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-graph-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07" />
                </svg>
                DashBoard
              </a> </li>
            <li> <a href="/time_event_data/" class="nav-link text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-hourglass-split" viewBox="0 0 16 16">
                  <path
                    d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" />
                </svg>
                Time-Event-Data
              </a> </li>
            <li> <a href="/Data_analysis/" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-eyeglasses" viewBox="0 0 16 16">
                  <path
                    d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0" />
                </svg>
                Data Analysis
              </a> </li>
            <li>
        </div>
      </div>
    </div>
  </header>


  <main>


    <div class="container my-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
          <li class="breadcrumb-item"> <a class="link-body-emphasis" href="/"> <svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path
                  d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
              </svg> <span class="visually-hidden">Home</span> </a> </li>
          <li class="breadcrumb-item active" aria-current="page">
            Time-event-data Application
          </li>
        </ol>
      </nav>
    </div>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
          class="bi bi-calendar-event mx-auto mb-4" viewBox="0 0 16 16">
          <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
        </svg>
        Time-event-data Application
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-center">Please select a Venue and Time</p>
        <form method="POST" action="">
          {% csrf_token %}
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Venue</td>
                <td>{{ form.loc }}</td>
              </tr>
              <tr>
                <td>Time Range</td>
                <td colspan="2">{{ form.start_date }} - {{ form.end_date }}</td>
              </tr>
              <tr>
                <td colspan="2" class="bg-dark text-light text-center">
                  [You may use the following to filter/ignore abnormal data] <br>
                  (for example: extreme value)
                </td>
              </tr>
              <tr>
                <td>Temperature Range</td>
                <td>{{ form.temp_gt }} - {{ form.temp_lt }}</td>
              </tr>
              <tr>
                <td>Humidity Range</td>
                <td>{{ form.hum_gt }} - {{ form.hum_lt }}</td>
              </tr>
              <tr>
                <td>Light Intensity Range</td>
                <td>{{ form.light_gt }} - {{ form.light_lt }}</td>
              </tr>
              <tr>
                <td>Sound Level Range</td>
                <td>{{ form.snd_gt }} - {{ form.snd_lt }}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Apply Filters</button>
          </div>
        </form>
      </div>



    </div>
    </div>

    {% if List %}
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th colspan=7>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
              <h1>--Time Event List--</h1>
            </div>
          </th>
        </tr>
        <tr>
          <th>Venue</th>
          <th>Time Range</th>
          <th>Event</th>
          <th>Instructor</th>
          <!--<th>View Environmental data</th>-->
        </tr>
      </thead>
      <tbody>
        {% for item in List %}
        <tr>
          <td>{{ item.0.Venue }}</td>
          <td>{{ item.0.Time_start }} - {{ item.0.Time_end }}</td>
          <td>{{ item.0.Event }}</td>
          <td>{{ item.0.Instructor }}</td>
          <!--
          <td>
            <form method="POST" action="" >
              {% csrf_token %}
              {{item.1.as_p}}
              <button class="btn btn-primary btn-lg px-4 gap-3">Click here</button>
            </form>
          </td>
        -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% if Each_Venue_Data %}
    <table class="table table-striped table-hover">
      <thead class="table-danger">
        <tr>
          <th colspan=4>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
              <h1>Environmental data in each event </h1>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>

        {% for Data in Each_Venue_Data %}
        <tr class="table-dark">
          <td width=20%>Event : {{ Data.0.Event }}</td>
          <td width=10%>Venue : {{ Data.0.Venue }}</td>
          <td colspan="2">Time : {{ Data.0.Time_start }} - {{ Data.0.Time_end }}</td>
        </tr>
        <tr>
          <td width=25%>parameter</td>
          <td width=25%>AVG</td>
          <td width=25%>Max</td>
          <td width=25%>Min</td>
        </tr>
        <tr>
          <td>Temp</td>
          <td>{{ Data.1.temp__avg }}°C</td>
          <td>{{ Data.1.temp__max }}°C</td>
          <td>{{ Data.1.temp__min }}°C</td>
        </tr>
        <tr>
          <td>Hum</td>
          <td>{{ Data.1.hum__avg }}%</td>
          <td>{{ Data.1.hum__max }}%</td>
          <td>{{ Data.1.hum__min }}%</td>
        </tr>
        <tr>
          <td>Light</td>
          <td>{{ Data.1.light__avg }}%</td>
          <td>{{ Data.1.light__max }}%</td>
          <td>{{ Data.1.light__min }}%</td>
        </tr>
        <tr>
          <td>Sound</td>
          <td>{{ Data.1.snd__avg }} dB</td>
          <td>{{ Data.1.snd__max }} dB</td>
          <td>{{ Data.1.snd__min }} dB</td>
        </tr>
        {% endfor %}



        <table style="width:100%" class="table table-striped table-hover">

          <thead class="table-danger">
            <tr>
              <th colspan=4>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
                  <h1>Environmental data - Overall</h1>
                </div>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td width=25%>parameter</td>
              <td width=25%>AVG</td>
              <td width=25%>Max</td>
              <td width=25%>Min</td>
            </tr>
            <tr>
              <td>Temperature</td>
              <td>{{ OVERALL.temp__avg }}°C</td>
              <td>{{ OVERALL.temp__max }}°C</td>
              <td>{{ OVERALL.temp__min }}°C</td>
            </tr>
            <tr>
              <td>Relative Humidity</td>
              <td>{{ OVERALL.hum__avg }}%</td>
              <td>{{ OVERALL.hum__max }}%</td>
              <td>{{ OVERALL.hum__min }}%</td>
            </tr>
            <tr>
              <td>Light Intensity</td>
              <td>{{ OVERALL.light__avg }}%</td>
              <td>{{ OVERALL.light__max }}%</td>
              <td>{{ OVERALL.light__min }}%</td>
            </tr>
            <tr>
              <td>Ambient Sound Level</td>
              <td>{{ OVERALL.snd__avg }} dB</td>
              <td>{{ OVERALL.snd__max }} dB</td>
              <td>{{ OVERALL.snd__min }} dB</td>
            </tr>
          </tbody>
        </table>
      </tbody>
    </table>
    {% endif %}










    {% if Data_list %}
    <table class="table table-striped table-hover">

      <thead class="table-dark">
        <tr>
          <th colspan=7>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
              <h1>---Environmental data---</h1>

            </div>
          </th>
        </tr>
        <tr>
          <th>Node ID</th>
          <th>Location</th>
          <th>temp</th>
          <th>hum</th>
          <th>light</th>
          <th>snd</th>
          <th>time created</th>
        </tr>
      </thead>
      <tbody>
        {% for item in Data_list %}
        <tr>
          <td>{{ item.node_id }}</td>
          <td>{{ item.loc }}</td>
          <td>{{ item.temp }}°C</td>
          <td>{{ item.hum }}%</td>
          <td>{{ item.light }}%</td>
          <td>{{ item.snd }} dB</td>
          <td>{{ item.date_created }}</td>


        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endif %}


  </main>
  <script>
    function getFeed() {
      $.ajax({
        url: '/dashboard/temp_data',
        dataType: 'json',
        success: function (data) {
          flexmonster.updateData({
            data: processData(data)
          });
        },
        complete: function (data) {
          setTimeout(getFeed, 5000);
        }
      });
    }
    $(document).ready(function () {
      setTimeout(getFeed, 5000); // 5 seconds
    });
  </script>
  <footer class="py-4 my-5 bg-light shadow-sm">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link px-3 text-dark">Home</a>
      </li>
      <li class="nav-item">
        <a href="/Log" class="nav-link px-3 text-dark">Log</a>
      </li>
      <li class="nav-item">
        <a href="/dashboard/" class="nav-link px-3 text-dark">DashBoard</a>
      </li>
      <li class="nav-item">
        <a href="/time_event_data/" class="nav-link px-3 text-dark">Time-Event-Data</a>
      </li>
      <li class="nav-item">
        <a href="/Data_analysis/" class="nav-link px-3 text-dark">Data Analysis</a>
      </li>
    </ul>
    <p class="text-center text-muted">- presented by Group 8 -</p>
  </footer>
</body>

</HTML>